<ion-view view-title="Principal">
    <ion-content class="padding square-grid">

        <div class="square" ng-repeat="item in items">
            <div class="content">
                <div class="table">
                    <a class="table-cell button button-outline button-dark" ui-sref="{{ item.sref }}">
                        <i class="ion" ng-class="item.icon"></i>
                        {{ item.text }}
                    </a>
                </div>
            </div>
        </div>

        <a class="button button-block"
           ng-class="{ 'button-balanced': alarmStatus, 'button-assertive': !alarmStatus }"
           ng-click="toggleAlarm()">
            Monitoramento: <strong>{{ alarmStatus ? 'Ativado' : 'Desativado' }}</strong>
        </a>

    </ion-content>
</ion-view>